{% extends 'base.html' %}

{% block content %}
<div class="p-3" >
    <div class="col-12">
    <a href="{% url 'logout' %}" class="btn btn-outline-danger float-right">Logout</a>
    </div>
    <div class="d-flex flex-column justify-content-center w-100 align-items-center py-5">
        <h1 class="pb-4">Welcome {{name}}</h1>
        <h2 class="py-3">Question {{ques_count}}</h2>
        <a href="{% url 'press_buzzer' name %}" id="buzzer_btn" class="btn btn-primary float-right">Buzzer</a>
    </div>
</div>
{% endblock %}
