{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
    <form action="." method="POST" class="login_form d-flex w-25 justify-content-center flex-wrap" >
        <h2 class="pb-4">Login </h2>
        {% csrf_token %}
        <div class="form-group col-md-12">
            <label>Team</label>
            <select class="form-control" name="username" required>
                <option value="" disabled selected >Select</option>
                <option value="d2" >D2</option>
                <option value="p1" >P1</option>
                <option value="admin" >Mentor</option>
            </select>
        </div>
        <div class="form-group col-md-12">
            <label>Name</label>
            <input type="name" class="form-control" name="name" id="name" required>
        </div>
        <div class="form-group col-md-12">
            <label>Password</label>
            <input type="password" class="form-control" name="password" required>
        </div>
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-primary float-right">Login</button>
        </div>
    </form>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        $("#name").on("change",function(){
            console.log( $("#name").val() )
            window.localStorage.setItem('name',$("#name").val());
        });
    })
    
</script>
{% endblock %}